h1,h3 {
    color: yellow;
    border-bottom: 2px;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;

}

p {
    color: aliceblue;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

button, a{
    background-color: yellow;
    text-decoration: none;
    color: black;    
    padding: 15px;
    font-size: 30px;
}

nav{
    display: flex;
    justify-content: center;
}